---
layout: base.njk
title: "seenalready: Cameras"
permalink: /camera/
activeNav: cameras
---
{% set cams = collections.cameras | sort(attribute="data.order") %}
<div class="body">
  <div class="pagelabel">Cameras</div>
  <div class="cataloguegrid">
    {% for cam in cams %}
      {% set rolls = collections.postsByCamera[cam.data.slug] | default([]) | sort(attribute="data.date", reverse=true) %}
      <a class="tile" href="{{ cam.url }}">
        <div class="tile-img vign">
          {% if rolls.length %}{% photo rolls[0].data.hero, cam.data.name, "25vw", rolls[0] %}{% endif %}
        </div>
        <div class="tile-cap-main">{{ cam.data.name }}</div>
      </a>
    {% endfor %}
  </div>
  <div class="footer">
    <a class="archive-link" href="/snapped/">SNAPPED</a>
    <div class="copy">© {{ currentYear }} Seen Already</div>
  </div>
</div>
